@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background-color: black;
  color: white;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.restart{
  width: 200px;

  display: none;
  gap:15px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin:3% auto;
  font-size: 30px;

}
.restart #restart-btn{
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgb(199, 199, 199);

}
.restart #restart-btn:hover{
  background-color: white;
}
.restart #restart-btn img{
  width: 30px;
  box-sizing: border-box;
  margin: 0;
  display: flex;

}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 380px;
  height: 380px;
}
[class*="block"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: 800;
}
[class*="block"]:hover {
  cursor: pointer;
}

.block1,
.block4 {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
.block2,
.block5 {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
.block3,
.block6 {
  border-bottom: 4px solid white;
}
.block7,
.block8 {
  border-right: 4px solid white;
}

.gamedata {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 85%;
  left: 50%;
  display: flex;
  width: 400px;
  font-size: 22px;
  justify-content: space-around;
  color: rgb(109, 107, 107);
  font-weight: 500;
}

.player-data,.tie-data{
  flex:1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.current {
  color: white;
  text-shadow: 1px 1px 2px white;
  font-weight: bolder;
}

.player1-count,
.player2-count,
.tie-count {
  text-align: center;
  margin-top: 10px;
}

.mode-data {
  font-weight: 700;
  color: rgb(233, 229, 229);
  letter-spacing: 2px;
  flex:1 1 50px;
  display: flex;
  flex-direction: column;
align-items: center;
width: 1fr;
}
.mode-data img {
  width: 30px;
  

}
.mode-name{
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 1%;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer img {
  width: 30px;
}
.footer img:hover {
  border: 1px dotted white;
  border-radius: 100%;
}


